*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(10, 60, 126);
    font-style: italic;
}
ul {
    padding-left: 40px;
    margin-bottom: 15px;
}
ol{
    padding-left: 40px;
    margin-bottom: 15px;
}
p{
    font-size: 18px;
    margin-bottom: 16px;
}
h2{
    font-size: 33px;
    color: #2d3136;
    display: block;
    padding-bottom: 10px;
}
footer{
    padding: 45px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.body_content{
    width: 1120px;
    padding: 0 auto;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header_top{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    align-items: baseline;
    font-size: 16px;
    border-bottom: 1px solid  rgb(129, 134, 134);
    font-weight: 400;
}
.header_left{
    width: 20%;
    color: rgb(97, 100, 102);
}
.header_content{
    width: 60%;
    text-align: center;
    font-size: 20px;
    color: rgb(97, 100, 102);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
.header_right{
    width: 20%;
    text-align: right;
}
.header_right a{
    padding-right: 10px;
    color: rgb(97, 100, 102);
}
.header_right > .btn_sing{
    padding: 7px;
    border: 1px solid rgb(80, 78, 78);
    border-radius: 3px;
    display: inline-block;
}
.header_right:hover .btn_sing{
    background-color:rgb(72, 78, 82);
    color: aliceblue;
}
.nav_item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: rgb(97, 100, 102);
    font-size: 17px;
    align-items: baseline;
    justify-content: space-between;
}
.nav_item a{
    color: rgb(97, 100, 102);
    display: inline-block;
    padding: 15px 0px;
}
.header_bottom{
    background-color: #292c2e;
    border-radius: 2px;
    height: 360px;
    border-radius: 3px;
}
.item_tile{
    padding: 40px;
    width: 50%;
    color: aliceblue;
    text-align: left;
}
.item_tile h1{
    font-size: 50px;
    font-style: italic;
}
.item_tile .col_header_p{
    padding: 10px 0px;
    font-size: 23px;
    font-style: normal;
}
.botom_p{
    font-weight:bold ;
}
.botom_p a{
    color: aliceblue;
}
.item_tile .botom_p:hover a{
    /* text-decoration:dashed; */
    color: rgb(22, 170, 121);
    border-bottom: 1px solid aliceblue;
}
.main_content{
    margin-top: 20px;
}
.row_hd{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
}
.col_item{
    width: 50%;
    padding: 0px 15px;
    display: flex;
    flex-wrap: nowrap;
}
.col_item_5{
    /* border: 1px solid #a2a7ad; */
    box-shadow: 1px 1px rgb(172, 174, 175);
    border-radius: 2px;
    display: flex;
    flex-wrap: nowrap;
}
.col_item_5 >.col_item_lf{
    width: 60%;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}
.col_item_5 >.col_item_img{
    width: 40%;
    height: 250px;
    background-color: #3c4149;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col_item_img .col_sp{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;   
}
.col_item_lf .col_item_tile{
    color: rgb(8, 179, 164);
    font-size: 18px;
    font-weight: bold;
}
.col_item_lf .col_item_h3 a{
    color: #3c4149;
    font-size: 28px;
}
.col_item_lf .col_item_tile2{
    font-size: 17px;
    color: darkgrey;
}
.col_item_lf .col_item_p{
    font-size: 17px;
}    
.row_content{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row_content .col_content_8{
    width: 65%;
    padding: 15px;
}
.row_content .col_content_2{
    width: 35%;
}
.row_content .col_content_8_h3{
    border-bottom: 1px solid rgb(172, 174, 175);
    font-size: 35px;
    font-style: italic;
    /* margin-left: -15px; */
    padding-bottom: 15px;
}
.col_ct_8{
    margin-bottom: 60px;
}
.col_8_content{
    margin-bottom: 15px;
}
.col_8_hd{
    border-bottom: 1px solid  rgb(172, 174, 175);
    padding: 15px 0px;
}
.col_8_tile{
    font-size: 40px;
    color: #2d3136;
}
.col_content_p{
    color: darkgrey;
}
.col_btp{
    padding-top: 20px;
}
.col_8_content2{
    margin-bottom: 60px;
}
.col_content_8_bt{
    margin-bottom: 60px;
}
.col_content_8_bt .col_8_link1{
    border: 1px solid darkcyan;
    padding: 11px;
    border-radius: 35px;
    font-size: 16px;
}
.col_content_8_bt:hover .col_8_link1{
    background-color: rgb(21, 76, 78);
    color: aliceblue;
}
.col_content_8_bt .col_8_link2{
    border: 1px solid rgb(130, 134, 134);
    padding: 11px;
    border-radius: 35px;
    font-size: 16px;
    color: darkgray;
    cursor: default;
}
.col_ct2_hd{
    padding-bottom: 25px;
}
.col_ct2_hd1{
    background-color:#f8f9fa;
    padding: 12px;
    border-radius: 4px;
}
.col_ct2_hd_h4{
    font-size: 25px;
    font-style: italic;
    padding: 10px;
}
.col_ul{
    list-style: none;
    padding-left: 10px;
}
.col_ul li{
    font-size: 18px;
    padding-bottom: 7px;
}
/* Kích thước 0<= scren <= 768px thêm kích thước giới hạn thì and (min-width: giá trị) */
@media(max-width:768px){
    .body_content{
        width: 100%;
     }
     .nav_item{
        width: 100%;
     }
}
/* kích thước 0<=scren <=425px */
@media(max-width:425px){
/*  áp dụng css ở đây */
    .body_content{
        width: 100%;
    }
}
@media(max-width:320px){
    .body_content{
        width: 100%;
     }
}