*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content{
    margin: 30px;
    line-height: 1.5px;
}
.content h1{
    color: rgb(79, 83, 83);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    padding-bottom: 15px;
}
.row_1{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}
.col_5{
    width: 50%;
}
input[type=text], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: bisque;
}
/* .txtname, .txtemail{
    width: 100%;
} */
.txtemail{
    margin-left: 1px;
}
/* .txtsub{
    width: 100%;
} */
.text_area{
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    border: 1px solid salmon;
    border-radius: 2px;
    background-color: #fdfdfd;
    resize: none;
}
.text_area::placeholder{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn_submit{
    width: 25%;
    background-color: rgb(16, 47, 48);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn_submit:hover{
    background-color: chocolate;
}
.col_5 p{
    text-align: right;
    color: #ccc;
    font-size: medium;
}
